<div class="new_list_dialog hidden">
	<%= form_for List.new, method: "post", url: { action: "create" } do |f| %>
		<div class="form-group">
			<%= f.label :name, "Name", class: "control-label" %>
			<%= f.text_field :name, class: "form-control input--transparent", autofocus: true %>
			<%= f.submit "Create List", class: "btn btn-primary new_list_dialog__button" %>
		</div>
	<% end %>
</div>

<button type="button" id="new_list_button" class="btn btn-default col-xs-6 navigation--button">
	New List
</button>

<%= javascript_include_tag "_new_list_button" %>
