
<%= provide :title, @list.name %>
<%= provide :button, "lists/new_entry_button" %>

<h1><%= @list.name %></h1>

<ul class="list-group">
	<% @entries.each do |entry| %>
			<a href="<%= edit_entry_path entry %>" class="button--anchor">
			<li class="list-group-item li--hover">
				<div class="row">
					<span class="col-sm-6">
						<%= entry.name %>
					</span>
					<span class="col-sm-6 pull-right text-right">
						<%#= entry.created_at.strftime "%d. %B '%y" %>
						<%= entry.quantity %>
					</span>
				</div>
			</li>
		</a>
	<% end %>
</ul>

