
<%= provide :title, @list.name %>
<%= provide :button, "lists/new_entry_button" %>

<div class="row title--row">
	<%= form_for @list, method: "patch" do |f| %>
		<h3>
			<%= f.text_field :name, value: @list.name, class: "col-xs-8 input--transparent", id: "list_title" %>
			<%= f.submit "Rename", class: "hidden", id: "update_list_button" %>
		</h3>
	<% end %>
	<div class="col-xs-4">
		<%= link_to "Delete", list_path(@list), method: "delete", class: "btn btn-danger pull-right", data: { confirm: "List will be deleted forever. Delete?" } %>
	</div>
</div>

<ul class="list-group">
	<% @entries.each do |entry| %>
			<a href="<%= edit_entry_path entry %>" class="button--anchor">
			<li class="list-group-item li--hover">
				<div class="row">
					<span class="col-sm-6">
						<%= entry.name %>
					</span>
					<span class="col-sm-6 pull-right text-right">
						<%#= entry.created_at.strftime "%d. %B '%y" %>
						<%= entry.quantity %>
					</span>
				</div>
			</li>
		</a>
	<% end %>
</ul>

<%= javascript_include_tag "_list_rename" %>

